.btn-block {
  display: block;
  width: 100%;
}

.btn-dark {
  color: #fff;
  background-color: #040405;
  border-color: #000;
  border-radius: inherit;
}

.btn-dark:hover {
  color: #000;
  background-color: #fff;
  border-color: #f30b0b;
  border-radius: inherit;
}

.page-login {
  background: #fff;
  padding: 50px;
}

.form-control {
  background: #ebebeb;
  color: #333;
  border-color: #ebebeb;

}

.form-control:focus {
  color: #212529;
  border-color: none !important;
  outline: 0;
  box-shadow:none
}

.btn-link-style {
  text-decoration: none;
}
