.btn-block {
  display: block;
  width: 100%;
}

.btn-dark {
  color: #fff;
  background-color: #040405;
  border-color: #000;
  border-radius: inherit;
}

.btn-dark:hover {
  color: #fff;
  background-color: #2d2d2d;
  border-color: #000;
  border-radius: inherit;

}

.page-register {
  background: #fff;
  border: 1px solid #d3ced2;
  padding: 30px;
  margin: 2em 0;
  border-radius: 5px;
}

.form-control {
  background: #ebebeb;
  color: #333;
  border-color: #ebebeb;

}

.form-control:focus {
  color: #212529;
  border-color: none !important;
  outline: 0;
  box-shadow:none
}

.btn-link-style {
  text-decoration: none;
}
