:root {
  --blue: #3259ea;
  --indigo: #a200fc;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #f75454;
  --orange: #fd7e14;
  --yellow: #fced70;
  --green: #88cf00;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #7f7f83;
  --gray-dark: #232f3e;
  --primary: #f75454;
  --secondary: #161619;
  --success: #88cf00;
  --info: #17a2b8;
  --warning: #fced70;
  --danger: #f75454;
  --light: #f8f9fa;
  --dark: #161619;
  --primary-green: #88cf00;
  --primary-yellow: #fced70;
  --yellow-darker: #ffbd00;
  --primary-home-v3: #041e42;
  --primary-indigo: #a200fc;
  --indigo-light: #faf1ff;
  --tangerine: #f79400;
  --tangerine-light: #faf4eb;
  --chili: #f01000;
  --chili-light: #f4e6e5;
  --carolina: #00cdef;
  --carolina-light: #e6f2f4;
  --punch: #ff8e8e;
  --punch-light: #fff6f6;
  --secondary-gray-700: #7c6e65;
  --secondary-gray-800: #232f3e;
  --secondary-gray-1080: #cccccc;
  --secondary-gray-1090: #7e7e7e;
  --secondary-black-100: #19110b;
  --secondary-black-200: #1c2633;
  --dark-1: #2d3942;
  --red-1: #ff7160;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #161619;
  text-align: left;
  background-color: #fff;
}
.border-bottom {
  border-bottom: 1px solid #eae8e4 !important;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.link-black-100 {
  color: #19110b !important;
}
a {
  color: #f75454;
  background-color: transparent;
  text-decoration: none !important;
}
a:hover {
  color: #f75454;
  background-color: transparent;
  text-decoration: none !important;
}

.font-size-n9 {
  font-size: 13px;
}
.font-weight-medium {
  font-weight: 500 !important;
}
.padding-x {
  padding-left: 6px;
  padding-right: 6px;
}
.padding-y {
  padding-top: 0px;
  padding-bottom: 0px;
}
.input-group {
  position: relative;
  display: flex;
  align-items: stretch;
}
.input-group input:focus {
  box-shadow: none !important;
  /* border-color: #ebebeb !important; */
}

.input-group-btn {
  position: absolute;
  bottom: 0;
  padding: 4px 0;
  color: #fff;
  background-color: #f75454;
  border-color: #f75454;
  right: -0.15rem;
}

.form-control {
  background: #f6f5f3 !important;
}
.input-group > .form-control:focus {
  z-index: 0;
}
.glph-icon {
  font-size: 19px;
}
small,
.small {
  font-size: 90%;
  font-weight: 400;
}
.text-muted {
  color: #7f7f83 !important;
}

.link-red-100 {
  color: #f75454;
  text-decoration: none;
  background-color: transparent;
}

.message-error {
  color: #ff8800;
  font-size: 13px;
  font-weight: 500;
}

.font-size-26{
  font-size: 1.625rem;
}
.font-size-3 {
  font-size: 1.125rem;
}
.font-size-1 {
  font-size: 1rem;
}

.bg-gray-200 {
    background-color: #fff6f6;
}
.h-primary {
  color: #161619;
}
.text-gray-700 {
  color: #7c6e65;
}
.text-dark {
  color: #161619!important;
}

.space-bottom-3 {
  padding-bottom: 4rem!important;
}
.text-gray-450 {
  color: #9ca6ad!important;
}
.border-gray-710 {
  border-color: #445059!important;
}
.text-gray{
  color: rgba(0,0,0,.65);
}
.font-weight-400{
  font-weight: 400;
}